#banner{
  position: relative;
}
#banner>.bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#banner>.bg>img{
  width: 100%;
  height: 100%;
}
#main{
  min-height: 600px;
}
#main>.container>div.selTab{
  float: left;
  width: 200px;
  box-sizing: border-box;
}
#main>.container>div.selTab>ul{
  background-color: #ddd;
}
#main>.container>div.selTab>ul>li{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #000;
  padding: 0 10px;
  margin-top: 1px;
}
#main>.container>div.selTab>ul>li:first-child{
  background-color: #2a4d9f;
  color: #fff;
  margin: 0;
}
#main>.container>div.selTab>ul>li:nth-child(2){
  margin: 0;
}
#main>.container>div.selTab>ul>li.active,
#main>.container>div.selTab>ul>li:hover:not(:first-child){
  background-color: #aaa;
}
#main>.container>div.selTab>ul>li>a{
  display: block;
  color: #000;
  border-bottom: 1px solid #fff;
  /*box-sizing: border-box;*/
  height: 50px;
  line-height: 50px;
}
#main>.container>div.selTab>ul>li:last-child>a{
  border: 0;
}

#main>.container>div.tabView{
  margin-left: 200px;
  padding: 20px;
}
#main>.container>div.tabView>div{
  display: none;
}
#main>.container>div.tabView>div.on{
  display: block;
}
#main>.container>div.tabView>div>.Tit{
  padding: 30px 0;
}
#main>.container>div.tabView>div>.Tit>h3{
  width: 300px;
  font-size: 14px;
  height: 30px;
}

#main>.container>div.tabView>div>.Tit>h3>span{
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
#main>.container>div.tabView>div>.Tit>h3>span.lab{
  background-color: #2a4d9f;
  color: #fff;
  width: 120px;
  text-align: center;
  position: relative;
}
#main>.container>div.tabView>div>.Tit>h3>span.lab:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 120px;
  width: 0;
  height: 0;
  border: 0;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #2a4d9f;
}
#main>.container>div.tabView>div>.Tit>h3>span.intor{
  box-sizing: border-box;
  border-bottom: 1px solid #2a4d9f;
  padding: 0 5px 0 20px;
}


#main>.container>div.tabView>div>.listBody{
  padding: 0 0 20px;
}
#main>.container>div.tabView>div>.listBody>ul>li{
  border-bottom: 1px solid #ccc;
  padding: 20px 0 ;
}
#main>.container>div.tabView>div>.listBody>ul>li:after{
  content: "";
  display: table;
  clear: both;
}
#main>.container>div.tabView>div>.listBody>ul>li>.itemImg{
  float: right;
  width: 200px;
}
#main>.container>div.tabView>div>.listBody>ul>li>.itemImg>img{
  width: 180px;
  height: 180px;
}
#main>.container>div.tabView>div>.listBody>ul>li>.itemDetail{
  margin-right: 230px;
}
#main>.container>div.tabView>div>.listBody>ul>li>.itemDetail>h4{
  height: 30px;
  line-height: 30px;
}
#main>.container>div.tabView>div>.listBody>ul>li>.itemDetail>p{
  line-height: 20px;
  text-indent: 28px;
  margin: 20px 0;
}
#main>.container>div.tabView>div>div>.page{
  padding: 10px 0;

}
#main>.container>div.tabView>div>div>.page>ul{
  max-width: 450px;
  margin: 0 auto;
}
#main>.container>div.tabView>div>div>.page>ul>li{
  float: left;
  margin-right: 10px;
}
#main>.container>div.tabView>div>div>.page>ul>li:last-child{
  margin-right: 0;
}
#main>.container>div.tabView>div>div>.page>ul>li>a{
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #2a4d9f;
  color: #000;
}
#main>.container>div.tabView>div>div>.addMore{
  display: none;
  padding: 10px 0;
}
#main>.container>div.tabView>div>div>.addMore>button{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #2a4d9f;
  color: #fff;
  font-size: 16px;
}
#main>.container>div.tabView>div>div>.addMore>button:active{
  background-color: #1DB2DD;
}
/*响应式*/
@media screen and (max-width: 1000px) {
  #main>.container>div.selTab{
    display: none;
  }
  #main>.container>div.tabView{
    margin: 0;
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  #main>.container>div.tabView>div>.listBody>ul>li>.itemImg{
    float: none;
    width: 100%;
    text-align: center;
  }
  #main>.container>div.tabView>div>.listBody>ul>li>.itemDetail{
    margin: 0;
  }
  #main>.container>div.tabView>div>div>.addMore{
    display: block;
  }
  #main>.container>div.tabView>div>div>.page{
    display: none;
  }
}





