
#banner {
    position: relative;
}

#banner > .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#banner > .bg > img {
    width: 100%;
    height: 100%;
}

#contact > div.container > div.menu {
    display: inline-block;
    float: left;
}

#contact > div.container > div > ul {
    background: #d1d1d1;
    width: 200px;
    text-align: center;
}

#contact > div.container > div > ul > li {
    height: 50px;
    line-height: 50px;
    width: 180px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1px;
}

#contact > div.container > div > ul > li:first-child {
    margin-top: 0
}

#contact > div.container > div > ul > li.selected {
    background: #2a4d9f;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

#contact > div.container > div > ul > li:hover {
    background: #b1b1b1;
}

#contact > div.container > div > ul > li.selected:hover {
    background: #2a4d9f;
}

#contact > div.container > div > ul > li > div {
    width: 180px;
    border-bottom: 1px solid #fff;
}

#contact > div.container > div.explain {
    margin-left: 200px;
    position: relative;
    padding-top: 50px;
    margin-bottom: 150px;

}

#contact > div.container > div.explain > div.contactTitle {
    height: 30px;
    line-height: 30px;
    width: 300px;
    margin-left: 20px;
    border-bottom: 1px solid #2a4d9f;

}

#contact > div.container > div.explain > div.contactTitle > div {
    display: inline-block;
    background: #2a4d9f;
    height: 30px;
    width: 100px;
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 16px;
}

#contact > div.container > div.explain > div.contactTitle > div:after {
    content: '';
    border-bottom: 30px solid #2a4d9f;
    border-right: 25px solid #ffffff;
    background: #000;
    width: 0;
    display: inline-block;
    height: 0;
    position: absolute;
    right: -25px;

}

#contact > div.container > div.explain > div.contactTitle > span {
    margin-left: 30px;
    font-size: 16px;
}

#contact > div.container > div.explain > div.right_cont > form {
    margin: 30px 0;
    overflow: hidden;
}
#contact > div.container > div.explain > div.right_cont > form>div>div>span{
    color: red;
}

#contact > div.container > div.explain > div.right_cont > button {
    width: 200px;
    margin-left: 100px;
    height: 34px;
    background: #fff;
    border: 1px solid #000;
}

#contact > div.container > div.explain > div.right_cont > form > div {
    margin: 20px 0;
}

#contact > div.container > div.explain > div.right_cont > form > div > label {
    width: 90px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: right;
    float: left;
}

#contact > div.container > div.explain > div.right_cont > form > div > div > input {
    border: 1px solid #000;
    margin-left: 10px;
    padding-left: 5px;
    width: 335px;
}

#contact > div.container > div.explain > div.right_cont > form > div:first-child > div > input {
    width: 170px;
}

#contact > div.container > div.explain > div.right_cont > form > div:nth-child(2) > div > input,
#contact > div.container > div.explain > div.right_cont > form div:nth-child(3) > div > input {
    width: 280px;
}

#contact > div.container > div.explain > div.right_cont > form > div:nth-child(4) > div > input,
#contact > div.container > div.explain > div.right_cont > form > div > div > textarea,
#contact > div.container > div.explain > div.right_cont > form > div:nth-child(5) > div > input {
    width: 560px;
}

#contact > div.container > div.explain > div.right_cont > form > div:first-child > div > input {
    width: 170px;
}

#contact > div.container > div.explain > div.right_cont > form > div > div > textarea {
    margin-left: 10px;
    height: 200px;
    border: 1px solid #000;
}

@media screen and (max-width: 1000px ) {
    .container{
        width: 100%;
        padding: 0;
    }
    #contact > div.container > div.menu {
        display: none;
    }

    #contact > div.container > div.explain {
        margin-left: 0
    }
    #contact > div.container > div.explain > div.right_cont > form>div>div>span{
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        padding: 0;
    }
    #contact > div.container > div.explain {
        margin: 0;
        padding-top: 30px;
    }
    #contact > div.container > div.explain > div.right_cont > form>div>div>span{
        margin-top: 5px;
        font-size: 14px;
        display: block;
    }

    #contact > div.container > div.explain > div.right_cont > form > div > label {
        text-align: left;
        margin-left: 26px;
    }

    #contact > div.container > div.explain > div.right_cont > button,
    #contact > div.container > div.explain > div.contactTitle,
    #contact > div.container > div.explain > div.right_cont > form > div > div > input,
    #contact > div.container > div.explain > div.right_cont > form > div > div > textarea {
        margin-left: 0;
    }

    #contact > div.container > div.explain > div.right_cont {
        text-align: center;
        margin-bottom: 30px;
    }

    #contact > div.container > div.explain > div.right_cont > form > div:first-child > div > input {
        width: 85%;
    }

    #contact > div.container > div.explain > div.right_cont > form > div:nth-child(2) > div > input,
    #contact > div.container > div.explain > div.right_cont > form div:nth-child(3) > div > input {
        width: 85%;
    }

    #contact > div.container > div.explain > div.right_cont > form > div:nth-child(4) > div > input,
    #contact > div.container > div.explain > div.right_cont > form > div > div > textarea,
    #contact > div.container > div.explain > div.right_cont > form > div:nth-child(5) > div > input {
        width: 85%;
    }

    #contact > div.container > div.explain > div.right_cont > form > div:first-child > div > input {
        width: 85%;
    }

}

.selected_two {
    background: #b1b1b1;
}