<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="/public/css/r.css"/>
    <link rel="stylesheet" href="/public/css/header.css"/>
    <link rel="stylesheet" href="/public/css/footer.css"/>
    <link rel="stylesheet" href="/public/css/about.css"/>
</head>
<body>
<!--头部-->
<div id="header">
    <div class="container">
        <!--logo-->
        <div class="logo">
            <a href="/public/index.html">
                <img src="/public/img/Logo1.png"/>
            </a>
        </div>
        <!--右侧菜单-->
        <div class="headMenu">
            <a class="menuBtn" href="">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
            </a>
            <div class="MenuS">
                <ul class="clearfix">
                    <li>
                        <a class="" href="index.html">首页</a>
                    </li>
                    <li class="hover">
                        <a class="subBtn" href="about.html">关于我们</a>
                        <div class="subMenu">
                            <ul>
                                <li>
                                    <a href="about.html">公司简介</a>
                                </li>
                                <li>
                                    <a href="news.html">新闻中心</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="productList">
                        <a class="subBtn" href="product.html">产品中心</a>
                        <div class="subMenu">
                            <ul>
                                <!--<li>-->
                                    <!--<a href="product.html">产品概述</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="product.html?Type=1">二代产品</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="product.html?Type=2">光谱选择性系统</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="product.html?Type=3">要素</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="product.html?Type=4">安全防爆膜</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </li>
                    <li class="caseList">
                        <a class="subBtn" href="case.html">成功案例</a>
                        <div class="subMenu">
                            <ul>
                                <!--<li>-->
                                    <!--<a href="case.html">商用</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="case.html?Case=1">餐厅</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="case.html?Case=2">酒店</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="case.html?Case=3">社会事业机构</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="case.html?Case=4">零售店</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="case.html?Case=5">住宅特殊</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="account.html">客户服务</a>
                    </li>
                    <li>
                        <a class="subBtn" href="contact.html">联系我们</a>
                        <div class="subMenu">
                            <ul>
                                <li>
                                    <a href="contact.html">联系方式</a>
                                </li>
                                <li>
                                    <a href="marketing.html">营销网络</a>
                                </li>
                                <li>
                                    <a href="message.html">留言投拆</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--banner-->
<div id="banner">
  <div class="bg">
      <img src="/public/img/about.jpg" alt=""/>
  </div>
</div>

<!--内容区域-->
<div id="contact">
    <div class="container">
        <div class="menu">
            <ul>
                <li class="selected">
                    <div>关于众鑫合</div>
                </li>
                <li class="selected_two">
                    <div>公司介绍</div>
                </li>
                <li class="news">
                    <div>新闻中心</div>
                </li>
            </ul>
        </div>
        <div class="explain">
            <div class="contactTitle">
                <div>公司介绍</div>
                <span>Company Introduction</span>
            </div>
            <div class="right_cont">
                    <div class="pic">
                        <img src="/public/img/about_two.png" alt=""/>
                    </div>

                    <div class="pic_two">
                        <img src="/public/img/about_one.jpg" alt=""/>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--底部-->
<div id="footer">
    <div class="container">
        <div class="intro">
            <dl></dl>
        </div>
        <div class="qrcodeImg">
            <div class="logo">
                <img src="/public/img/logoFooter.png"/>
            </div>
            <div class="qrcode">
                <img src="/public/img/qrcode.jpg"/>
            </div>
        </div>
        <div class="information">
            <p>备案信息一</p>

            <p>备案信息二</p>

            <p>备案信息三</p>
        </div>
    </div>
</div>


<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/js/about.js"></script>
</body>
</html>