<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title></title>
  <link rel="stylesheet" href="/public/css/r.css"/>
  <link rel="stylesheet" href="/public/css/header.css"/>
  <link rel="stylesheet" href="/public/css/footer.css"/>
  <link rel="stylesheet" href="/public/css/index.css"/>
</head>
<body>
  <!--头部-->
  <div id="header">
    <div class="container">
      <!--logo-->
      <div class="logo">
        <a href="/index/index">
          <img src="public/img/Logo1.png"/>
        </a>
      </div>
      <!--右侧菜单-->
      <div class="headMenu">
        <a class="menuBtn" href="">
          <span class="icon"></span>
          <span class="icon"></span>
          <span class="icon"></span>
        </a>
        <div class="MenuS">
          <ul class="clearfix">
            <li>
              <a class="" href="/index/index">首页</a>
            </li>
            <li>
              <a class="subBtn" href="/index/about">关于我们</a>
              <div class="subMenu">
                <ul>
                  <li>
                    <a href="/index/about">公司简介</a>
                  </li>
                  <li>
                    <a href="/index/news">新闻中心</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="productList">
              <a class="subBtn" href="/index/product">产品中心</a>
              <div class="subMenu">
                <ul>
                  <!--<li>-->
                    <!--<a href="product.html">产品概述</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=1">二代产品</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=2">光谱选择性系统</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=3">要素</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=4">安全防爆膜</a>-->
                  <!--</li>-->
                </ul>
              </div>
            </li>
            <li class="caseList">
              <a class="subBtn" href="/index/case">成功案例</a>
              <div class="subMenu">
                <ul>
                  <!--<li>-->
                    <!--<a href="case.html">商用</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=1">餐厅</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=2">酒店</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=3">社会事业机构</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=4">零售店</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=5">住宅特殊</a>-->
                  <!--</li>-->
                </ul>
              </div>
            </li>
            <li>
              <a href="/index/account">客户服务</a>
            </li>
            <li>
              <a class="subBtn" href="/index/contact">联系我们</a>
              <div class="subMenu">
                <ul>
                  <li>
                    <a href="/index/contact">联系方式</a>
                  </li>
                  <li>
                    <a href="/index/marketing">营销网络</a>
                  </li>
                  <li>
                    <a href="/index/message">留言投拆</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--banner-->
  <div id="banner">
    <ul class="imgList">
      <!--<li class="active">-->
        <!--<img src="img/banner1.jpg"/>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="img/banner2.jpg"/>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="img/banner3.jpg"/>-->
      <!--</li>-->
    </ul>
    <ul class="num">
      <!--<li class="in"></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
    </ul>
  </div>
  <!--产品概述-->
  <div id="product">
    <div class="container">
      <div class="Tit">
        <a href="/index/product">
          <h3>产品概述</h3>
        </a>
      </div>
      <div class="detail">
        <ul class="clearfix">
          <li class="item">
            <a href="/index/product?Type=1">
              <div class="itemImg">
                <img src="/public/img/product01.png"/>
              </div>
              <div class="itemDetail">
                <!--<h4>第二代产品</h4>-->
                <!--<p>IQue顶尖产品，５３ＧＩＩ,代表差下一代窗膜，他是由Gene Woodard博士在美国硅谷利用</p>-->
              </div>
            </a>
          </li>
          <li class="item">
            <a href="/index/product?Type=2">
              <div class="itemImg">
                <img src="/public/img/product02.png"/>
              </div>
              <div class="itemDetail">
                <!--<h4>光谱选择性系列</h4>-->
                <!--<p>产品高透光窗膜也能作为一个实际，透明而对太阳热与辐射的一道壁垒防护</p>-->
              </div>
            </a>
          </li>
          <li class="item">
            <a href="/index/product?Type=3">
              <div class="itemImg">
                <img src="/public/img/product03.png"/>
              </div>
              <div class="itemDetail">
                <!--<h4>要素</h4>-->
                <!--<p>不有那些仔细挑择出的稀有金属，顶级的聚酯膜和高品质、低辐射、要求具有隐秘性</p>-->
              </div>
            </a>
          </li>
          <li class="item">
            <a href="/index/product?Type=4">
              <div class="itemImg">
                <img src="/public/img/product04.png"/>
              </div>
              <div class="itemDetail">
                <!--<h4>安全防爆膜</h4>-->
                <!--<p>玻璃不一定就是建筑物设计中最薄弱环节；但它很可能成为最危险因素。外围防护设计师要求下班安全有一个更稳妥的解决方案。</p>-->
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--项目案例-->
  <div id="case">
    <div class="container">
      <div class="Tit">
        <a href="case-business.html">
          <h3>项目案例</h3>
        </a>
      </div>
      <div class="detail">
        <ul class="clearfix">
          <li>
            <a href="">
              <div class="itemImg">
                <img src="/public/img/case01.jpg"/>
              </div>
              <p>上海展示会</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="itemImg">
                <img src="/public/img/case02.jpg"/>
              </div>
              <p>多领域工艺技术</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="itemImg">
                <img src="/public/img/case03.jpg"/>
              </div>
              <p>各种奖项&荣誉</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="itemImg">
                <img src=""/>
              </div>
              <p>第四个</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--新闻中心-->
  <div id="news">
    <div class="container">
      <div class="Tit">
        <a href="/index/news">
          <h3>新闻中心 <span>MORE<i>&gt;&gt;</i></span></h3>
        </a>
      </div>
      <div class="newsList">
        <ul>
          <!--<li>-->
            <!--<a href="">-->
              <!--<h4>世界著名高效窗膜公司威固国际助力中国节能减排事业推出新 </h4>-->
              <!--<p>恭贺“轻松认证威固E质保随心转取100%豪礼” 质保认证活动第三期中奖车主！2017年3月5日—20...</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="">-->
              <!--<h4>世界著名高效窗膜公司威固国际，联手深圳大企业，助力中国 </h4>-->
              <!--<p>恭贺“轻松认证威固E质保随心转取100%豪礼” 质保认证活动第三期中奖车主！2017年3月5日—20...</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="">-->
              <!--<h4>世界著名高效窗膜公司威固国际，联手深圳大企业，助力中国 </h4>-->
              <!--<p>恭贺“轻松认证威固E质保随心转取100%豪礼” 质保认证活动第三期中奖车主！2017年3月5日—20...</p>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
      <div class="newsBanner">
        <h3>坚实的基础</h3>
        <p>自从先进玻璃组合窗系统出现以来，今天玻璃的使用已达到了显著的增长。然而家居、商业楼以及店铺的一些业主却不得不忍受热能控制，退色控制及节能效果不理想的玻璃窗。IQue 提供了一个广阔的窗膜系列，从可以去除一半太阳热量而又不改变现有玻璃...</p>
      </div>
    </div>
  </div>

  <!--底部-->
  <div id="footer">
    <div class="container">
      <div class="intro">
        <dl>
          <dt>青岛众鑫合玻璃装饰工程有限公司</dt>
          <dd>Add:青岛市李沧商会大厦（新澳海景大酒店）1504室</dd>
          <dd>Tel:0532-8797-2411</dd>
          <dd>Fax:0532-8797-2411</dd>
          <dd>Hp:152-5323-1111</dd>
          <dd>E-mail:qdzhongxinhe@163.com</dd>
          <dd>Http:www.qdzhongxinhe.com</dd>
        </dl>
      </div>
      <div class="qrcodeImg">
        <div class="logo">
          <img src="/public/img/logoFooter.png"/>
        </div>
        <div class="qrcode">
          <img src="/public/img/qrcode.jpg"/>
        </div>
      </div>
      <div class="information">
        <p>备案信息一</p>
        <p>备案信息二</p>
        <p>备案信息三</p>
      </div>
    </div>
  </div>


  <script src="/public/js/jquery-1.12.4.min.js"></script>
  <script src="/public/js/index.js"></script>
</body>
</html>