<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="css/r.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/marketing.css"/>
</head>
<body>
<!--头部-->
<div id="header">
    <div class="container">
        <!--logo-->
        <div class="logo">
            <a href="index.html">
                <img src="img/Logo1.png"/>
            </a>
        </div>
        <!--右侧菜单-->
        <div class="headMenu">
            <a class="menuBtn" href="">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
            </a>
            <div class="MenuS">
                <ul class="clearfix">
                    <li>
                        <a class="" href="index.html">首页</a>
                    </li>
                    <li>
                        <a class="subBtn" href="about.html">关于我们</a>
                        <div class="subMenu">
                            <ul>
                                <li>
                                    <a href="about.html">公司简介</a>
                                </li>
                                <li>
                                    <a href="news.html">新闻中心</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="subBtn" href="product.html">产品中心</a>
                        <div class="subMenu">
                            <ul>
                                <li>
                                    <a href="product.html">产品概述</a>
                                </li>
                                <li>
                                    <a href="product.html?Type=1">二代产品</a>
                                </li>
                                <li>
                                    <a href="product.html?Type=2">光谱选择性系统</a>
                                </li>
                                <li>
                                    <a href="product.html?Type=3">要素</a>
                                </li>
                                <li>
                                    <a href="product.html?Type=4">安全防爆膜</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="subBtn" href="case.html">成功案例</a>
                        <div class="subMenu">
                            <ul>
                                <li>
                                    <a href="case.html">商用</a>
                                </li>
                                <li>
                                    <a href="case.html?Case=1">餐厅</a>
                                </li>
                                <li>
                                    <a href="case.html?Case=2">酒店</a>
                                </li>
                                <li>
                                    <a href="case.html?Case=3">社会事业机构</a>
                                </li>
                                <li>
                                    <a href="case.html?Case=4">零售店</a>
                                </li>
                                <li>
                                    <a href="case.html?Case=5">住宅特殊</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="account.html">客户服务</a>
                    </li>
                    <li class="hover">
                        <a class="subBtn" href="contact.html">联系我们</a>
                        <div class="subMenu">
                            <ul>
                                <li>
                                    <a href="contact.html">联系方式</a>
                                </li>
                                <li>
                                    <a href="marketing.html">营销网络</a>
                                </li>
                                <li>
                                    <a href="message.html">留言投拆</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--banner-->
<div id="banner">
    <div class="bg">
        <img src="img/contact.jpg" alt=""/>
    </div>
</div>

<!--内容区域-->
<div id="contact">
    <div class="container">
        <div class="menu">
            <ul>
                <li class="selected">
                    <div>联系我们</div>
                </li>
                <li class="contact_two">
                    <div>联系方式</div>
                </li>
                <li class="selected_two">
                    <div>营销网络</div>
                </li>
                <li class="message">
                    <div>留言投诉</div>
                </li>
            </ul>
        </div>
        <div class="explain">
            <div class="contactTitle">
                <div>营销网络</div>
                <span>Marketing network</span>
            </div>
            <div class="right_cont">
                <h3>全国化网络营销</h3>
                <img src="img/distribute.png" alt=""/>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<div id="footer">
    <div class="container">
        <div class="intro">
            <dl>
                <dt>青岛众鑫合玻璃装饰工程有限公司</dt>
                <dd>Add:青岛市李沧商会大厦（新澳海景大酒店）1504室</dd>
                <dd>Tel:0532-8797-2411</dd>
                <dd>Fax:0532-8797-2411</dd>
                <dd>Hp:152-5323-1111</dd>
                <dd>E-mail:qdzhongxinhe@163.com</dd>
                <dd>Http:www.qdzhongxinhe.com</dd>
            </dl>
        </div>
        <div class="qrcodeImg">
            <div class="logo">
                <img src="img/logoFooter.png"/>
            </div>
            <div class="qrcode">
                <img src="img/qrcode.jpg"/>
            </div>
        </div>
        <div class="information">
            <p>备案信息一</p>

            <p>备案信息二</p>

            <p>备案信息三</p>
        </div>
    </div>
</div>


<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/marketing.js"></script>
</body>
</html>