<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title></title>
  <link rel="stylesheet" href="css/r.css"/>
  <link rel="stylesheet" href="css/header.css"/>
  <link rel="stylesheet" href="css/footer.css"/>
  <link rel="stylesheet" href="css/product.css"/>
</head>
<body>
  <!--头部-->
  <div id="header">
    <div class="container">
      <!--logo-->
      <div class="logo">
        <a href="index.html">
          <img src="img/Logo1.png"/>
        </a>
      </div>
      <!--右侧菜单-->
      <div class="headMenu">
        <a class="menuBtn" href="">
          <span class="icon"></span>
          <span class="icon"></span>
          <span class="icon"></span>
        </a>
        <div class="MenuS">
          <ul class="clearfix">
            <li>
              <a class="" href="index.html">首页</a>
            </li>
            <li>
              <a class="subBtn" href="about.html">关于我们</a>
              <div class="subMenu">
                <ul>
                  <li>
                    <a href="about.html">公司简介</a>
                  </li>
                  <li>
                    <a href="news.html">新闻中心</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="productList hover">
              <a class="subBtn" href="product.html">产品中心</a>
              <div class="subMenu">
                <ul>
                  <!--<li>-->
                    <!--<a href="product.html">产品概述</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=1">二代产品</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=2">光谱选择性系统</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=3">要素</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="product.html?Type=4">安全防爆膜</a>-->
                  <!--</li>-->
                </ul>
              </div>
            </li>
            <li class="caseList">
              <a class="subBtn" href="case.html">成功案例</a>
              <div class="subMenu">
                <ul>
                  <!--<li>-->
                    <!--<a href="case.html">商用</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=1">餐厅</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=2">酒店</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=3">社会事业机构</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=4">零售店</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a href="case.html?Case=5">住宅特殊</a>-->
                  <!--</li>-->
                </ul>
              </div>
            </li>
            <li>
              <a href="account.html">客户服务</a>
            </li>
            <li>
              <a class="subBtn" href="contact.html">联系我们</a>
              <div class="subMenu">
                <ul>
                  <li>
                    <a href="contact.html">联系方式</a>
                  </li>
                  <li>
                    <a href="marketing.html">营销网络</a>
                  </li>
                  <li>
                    <a href="message.html">留言投拆</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--banner-->
  <div id="banner">
    <div class="bg">
      <img src="img/productBanner.jpg"/>
    </div>
    <div class="container">
      <!--标题-->
    </div>
  </div>

  <!--主体内容区域-->
  <div id="main">
    <div class="container">
      <div class="selTab">
        <ul>
          <!--<li>-->
            <!--产品中心-->
          <!--</li>-->
          <!--<li class="active">-->
            <!--<a href="">产品概述</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="">二代产品</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="">光谱选择性系列</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="">要素</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="">安全防爆膜</a>-->
          <!--</li>-->
        </ul>
      </div>
      <div class="tabView">
        <div class="product on">
          <div class="Tit">
            <h3><span class="lab">产品概述</span><span class="intor">Product overview</span></h3>
          </div>
          <div class="overView">
            <!--<div>-->
              <!--<img src="img/product01.jpg"/>-->
            <!--</div>-->
            <!--<p> 自从先进玻璃组合窗系统出现以来，今天玻璃的使用已达到了显著的增长。然而家居、商业楼以及店铺的一些业主却不得不忍受热能控制，退色控制及节能效果不理想的玻璃窗。IQue 提供了一个广阔的窗膜系列，从可以去除一半太阳热量而又不改变现有玻璃。</p>-->
            <!--<p>同时兼顾阳光控制与高可见光透过间的平衡， IQue 高透光窗膜也能作为一个实际，透明而对太阳热与辐射的一道壁垒防护 。这对那些不只寻求外观，也注重环保与成本效益的设计师，项目经理，物业管理，建筑物与住宅业主提供了一个理想的解决方案。</p>-->
            <!--<p>IQue的顶尖产品, 53GII, 是以高性能设计的新一代 10 层溅射金属镀层窗膜为标志的。 V-KOOL 第一代窗膜系采用 7 层溅射复合镀层。新一代 IQue （ G2 ） 窗膜历经 10 年的深入开发成为世界这类窗膜的首创。这种窗膜能够在允许 58% 可见光透过的同时，阻隔约 60% 的太阳能。它的另一大特点是创造了 7% 的最低可见光反射率，达到了通常玻璃透视的美学效果。</p>-->
            <!--<p>此外， IQue 还提供一系列安全防爆窗膜 增加玻璃强度，降低玻璃在自然灾害与人为破坏时的财产与人身伤害风险。简而言之，IQue 不只是使您的办公室和住宅视野清晰，空间增大，也给您智能化的享受 。</p>-->
            <!--<div>-->
              <!--<img src="img/product02.jpg"/>-->
            <!--</div>-->
          </div>
        </div>
        <!--<div class="productTwo">-->
          <!--<div class="Tit">-->
            <!--<h3><span class="lab">二代产品</span><span class="intor">Second product</span></h3>-->
          <!--</div>-->
          <!--<div class="DZP">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>53GII</h4>-->
                  <!--<p>IQue 顶尖产品 , 53GII, 代表着下一代窗膜。他是由 Gene Woodard 博士在美国硅谷利用</p>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<div class="page">-->
              <!--<ul class="clearfix">-->
                <!--<li>-->
                  <!--<a href="">首页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">上一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">1</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">2</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">3</a>-->
                <!--</li>-->
                <!--<li>...</li>-->
                <!--<li>-->
                  <!--<a href="">下一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">尾页</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="addMore">-->
              <!--<button>加&nbsp;&nbsp;载&nbsp;&nbsp;更&nbsp;&nbsp;多</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="spectrum">-->
          <!--<div class="Tit">-->
            <!--<h3><span class="lab">光谱选择性系列</span><span class="intor">Spectrum choose</span></h3>-->
          <!--</div>-->
          <!--<div class="XRF">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>73FG</h4>-->
                  <!--<p>起源于美国军事与太空计划而开发的73FG现在已用于民用。它的红外线阻隔率高达94%，紫外线阻隔率达 99%，可却能允许70%可见</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>78FG</h4>-->
                  <!--<p>几乎完全透明的78FG是一个成熟的具有良好太阳热阻隔特性的光谱选择性窗膜。尽管它没有像73FG那样的热能阻隔性</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>58FG</h4>-->
                  <!--<p>如果你在寻找抗眩光的窗膜，58FG是一个好的选择。它提供了比市场上大部分传统工艺窗膜更有竞争优势的综合性能。红外阻隔</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>43FG</h4>-->
                  <!--<p>73FG和78FG是为高透光要求设计与制造的。然而，一些住宅或商业大楼业主要求较低透视度，最高的热能阻隔。这时，43FG是</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>33FG</h4>-->
                  <!--<p>当对透光要求不高，更注重太阳热控制的情况出现时， 33FG是优质的选择。 它的红外线阻隔率达 97% ，可以和其他光谱选择性窗</p>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<div class="page">-->
              <!--<ul class="clearfix">-->
                <!--<li>-->
                  <!--<a href="">首页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">上一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">1</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">2</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">3</a>-->
                <!--</li>-->
                <!--<li>...</li>-->
                <!--<li>-->
                  <!--<a href="">下一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">尾页</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="addMore">-->
              <!--<button>加&nbsp;&nbsp;载&nbsp;&nbsp;更&nbsp;&nbsp;多</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="element">-->
          <!--<div class="Tit">-->
            <!--<h3><span class="lab">要素</span><span class="intor">Element</span></h3>-->
          <!--</div>-->
          <!--<div class="elementList">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>金属化窗膜</h4>-->
                  <!--<p>金属系列产品是通过稀有金属精密的工艺镀制的前所未有的另一类窗膜。只有那些仔细挑择出的稀有金属，顶级的聚酯膜和高品质的</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>低辐射Low-E系列</h4>-->
                  <!--<p>作为低幅射性窗膜，当室外温度低于室内时IQue  Low-E膜防止了室内热量的外泄。这是严寒地区隔热保温的理</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>外贴系列</h4>-->
                  <!--<p>多数用于商业建筑物上，外贴膜的反射性能提供空间的私密性，同时又能保持通过窗口向外观看的通透性。外贴应用设计了特殊的</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>复合型窗膜</h4>-->
                  <!--<p>对于要求具有隐密性，能够减少强光及热阻隔性能完好的建筑来说，复合型窗膜产品是理想的选择。这一系列产品视感优良，并提</p>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<div class="page">-->
              <!--<ul class="clearfix">-->
                <!--<li>-->
                  <!--<a href="">首页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">上一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">1</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">2</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">3</a>-->
                <!--</li>-->
                <!--<li>...</li>-->
                <!--<li>-->
                  <!--<a href="">下一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">尾页</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="addMore">-->
              <!--<button>加&nbsp;&nbsp;载&nbsp;&nbsp;更&nbsp;&nbsp;多</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="safe">-->
          <!--<div class="Tit">-->
            <!--<h3><span class="lab">安全防爆膜</span><span class="intor">Safety film</span></h3>-->
          <!--</div>-->
          <!--<div class="safeList">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>产品技术指标</h4>-->
                  <!--<p>当今恐怖爆炸增多的情况下，越来越多的政府，企业了解了爆炸冲击波对建筑物的影响。在这些爆炸中，受损建筑物或她的近邻中人员伤亡最严重的来自破碎玻璃飞溅。</p>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="">-->
                  <!--<h4>独特的安全性</h4>-->
                  <!--<p>今日，玻璃的使用几乎遍布现代生活的各个领域。随着技术的不断革新，玻璃成为了建筑师常用的材料。建筑玻璃外观设计已不再是只为摩天大楼与商业建筑而做。现代家居，店铺，公共设施也都采用了相当玻璃。</p>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--<div class="page">-->
              <!--<ul class="clearfix">-->
                <!--<li>-->
                  <!--<a href="">首页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">上一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">1</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">2</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">3</a>-->
                <!--</li>-->
                <!--<li>...</li>-->
                <!--<li>-->
                  <!--<a href="">下一页</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="">尾页</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="addMore">-->
              <!--<button>加&nbsp;&nbsp;载&nbsp;&nbsp;更&nbsp;&nbsp;多</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <!--底部-->
  <div id="footer">
    <div class="container">
      <div class="intro">
        <dl>
          <dt>青岛众鑫合玻璃装饰工程有限公司</dt>
          <dd>Add:青岛市李沧商会大厦（新澳海景大酒店）1504室</dd>
          <dd>Tel:0532-8797-2411</dd>
          <dd>Fax:0532-8797-2411</dd>
          <dd>Hp:152-5323-1111</dd>
          <dd>E-mail:qdzhongxinhe@163.com</dd>
          <dd>Http:www.qdzhongxinhe.com</dd>
        </dl>
      </div>
      <div class="qrcodeImg">
        <div class="logo">
          <img src="img/logoFooter.png"/>
        </div>
        <div class="qrcode">
          <img src="img/qrcode.jpg"/>
        </div>
      </div>
      <div class="information">
        <p>备案信息一</p>
        <p>备案信息二</p>
        <p>备案信息三</p>
      </div>
    </div>
  </div>


  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/product.js"></script>
</body>
</html>